<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="user" class="pojo.User">
    <property name="name" value="lili"/>
  </bean>

  <bean id="myBeanFactoryPostProcessor" class="demo.bean_factory_post_processor.MyBeanFactoryPostProcessor"/>
  <bean id="myBeanFactoryPostProcessor2" class="demo.bean_factory_post_processor.MyBeanFactoryPostProcessor2"/>

</beans>